body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
body{
background-color:  #3b250041;}
.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color:#573b005e;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}
button, select, input{
    font-size: 24px;
 color: #3b2500;
  background-color: #ffffff;

}



select:hover,button:hover{
  background-color:#09005a;
  color: #E6E6E6;
}

.log-in, .log-out, .register {
  background-color:#1800f0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #09005a;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

table {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table tbody td {
  font-size: 13px;
}
table td:nth-child(even) {
  background: #EBEBEB;
}
table thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table tfoot td {
  font-size: 14px;
}
h1{
color: black;
text-align: center;
}